*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



html, body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: auto;
}

.inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#welcome{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-left: 3vw;
    width: 30vw;
}

#welcome>*{
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-tab{
    justify-content: space-evenly;
    flex-grow: 2;
}

input[type=search]{
    width: 70%;
    height: 30px;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

#welcome-text{
    font-weight: bold;
    font-size: larger;
}

#search-results{
    padding: auto;
    margin: auto;
}
table,td{
    border: 1px solid black;
}